*{
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth; 
  }

body{
    font-family: 'Montserrat', Verdana, sans-serif;
    min-height: 100vh;
    margin: 0; 
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header{
    background-color: #a1baff;
}

footer{
    background-color: #a1baff;
}



h2{
    font-size:36px;
}

.container{
    max-width: 1440px;
    margin: 0 auto;
    position:relative;
    left:300px;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
  }

  .nav-link{
    cursor: pointer;
    padding: 0 20px;
    line-height: 50px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color:#07257b;

  }

  .nav-link:hover {
    color: #4a6ed1;
  }

  .link {
    text-decoration: none;
    color: #07257b;
    transition: color 0.5s;
  }
  
  .link:hover {
    color: #4a6ed1;
  }

  .section-item a {
    color: black;
    text-decoration: none;  
    transition: color 0.5s;
  }

  .section-title::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 0px;
    width: 10px;
    height: 10px; 
    border: 1px solid #07257b;
    border-radius: 50%;
  }

  .section-title{
    margin-left: 100px;
  }

  .main-container {
    display: flex;
    flex-wrap: wrap;
    max-height: 1000px;
   
  }

  .section {
    width: 50%;
    font-size:14px;
  }

  @media (max-width: 768px) {
    .section {
      width: 100%;
    }
  }

  

  .section-title {
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #07257b;
  }

  #name{
    font-size:60px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 8px;
    color: #07257b;
    position: relative;
    top:10px;

  }


#myphoto{
   position:relative;
   top:30px;
   left:100px;
}

#line{
    position: relative;
    left:72px;
}

#school-icon{
    float:right;
    position: relative;
    right:72px;
    opacity: 0.4;
  
}

#createdby{
    line-height: 20px;
}
  
  